<!doctype html>
<html>
<head>
</head>
<body>
  <h2>Create a Team and Heroes!</h2>
  <form>
    <p>
      <input type="text" name="team_name" /><br>
      <input type="text" name="team_motto"/><br>
    </p>
    <p>
      <h4>Hero 1</h4>
      <input type="text" id="hero_name_1" name="team_motto"/><br>
      <input type="text" id="" name="team_motto"/><br>
      <input type="text" id="" name="team_motto"/>
    </p>
  </form>
</body>
</html>