<!doctype html>
<html>
<head>
</head>
<body>
  <h2>Create a Team and Heroes!</h2>
  <form>
    <p>
      <input type="text" name="team[name]" /><br>
      <input type="text" name="team[motto]"/><br>
    </p>
    <p>
      <h4>Hero 1</h4>
      <input type="text" id="member1_name"  name="team[]"/><br>
      <input type="text" id="member1_power" name="team[]"/><br>
      <input type="text" id="member1_bio"   name="team[]"/>
    </p>
    <p><input type="submit"/></p>
  </form>
</body>
</html>